<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {%block title%}
        图书管理系统
        {%endblock%}
    </title>
    {% include 'index/public/css.html'%}
    {%block css%}
    {%endblock%}
</head>
<body>
<!--顶部导航-->
{% include 'index/public/top.html'%}
<div class="container-fluid">
    <div class="row">
        <!--左侧导航栏-->
        {% include 'index/public/left.html'%}
        <!--主要内容区-->
        {%block main%}
        {% include 'index/public/main.html'%}
        {%endblock%}
    </div>
</div>
{% include 'index/public/js.html'%}
{%block js%}
{%endblock%}
</body>
</html>